body,
html {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}

hr {
	height: 5px;
	border-width: 0;
	color: orangered;
	background-color: rgb(224, 104, 24);
}

.nav {
	margin-top: 10px;
	margin-bottom: 30px;
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
}

.projects {
	margin: 25px auto;
}

.background {
	background-image: url('./images/bg-image.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
}

.container,
.skill-container {
	text-align: center;
	margin: 20px auto;
}

.avatar {
	vertical-align: middle;
	width: 310px;
	height: 310px;
	border-radius: 50%;
	margin: 26px auto;
}

.social {
	vertical-align: middle;
	width: 25px;
	height: 25px;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-left: 0px;
	padding-right: 0px;
}

.head {
	margin-top: 20px;
	margin-bottom: 35px;
	font-family: 'Oswald', sans-serif;
	/* font-family: 'Pangolin', cursive; */
	/* font-family: 'Roboto Slab', serif; */
	font-size: 60px;
	color: chocolate;
}

.footer {
	margin-top: 1rem;
	padding: 1.5rem;
	background-color: #67a4e6;
	color: whitesmoke;
	position: relative;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 70px;
	text-align: center;
}

.bio {
	margin-top: 15px;
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
	/* color: rgb(175, 120, 24); */
	color: rgb(221, 97, 8);
}

.skills {
	vertical-align: middle;
	width: 200px;
	height: 200px;
	margin: 25px auto 5px;
	border-radius: 10px;
	background-color: rgb(237, 239, 241);
	padding: 10px;
}

.skill-container p {
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	color: rgb(237, 239, 241);
}

.form-group {
	text-align: left;
	font-family: 'Raleway', sans-serif;
}

form {
	background-color: rgb(237, 239, 241);
	padding: 20px;
	border-radius: 15px;
	margin-bottom: 50px;
}

.send {
	background-color: rgb(184, 116, 68);
}

address {
	margin-top: 10px;
	font-family: 'Raleway', sans-serif;
	color: black;
	font-size: 18px;
}

.map-container {
	padding: 20px 0px;
	border-radius: 15px;
	/* margin: 20px auto auto 0px; */
}

.map-responsive {
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
	height: 0;
}
.map-responsive iframe {
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute;
}

.form-container {
	margin-top: 40px;
}
